@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Playwrite+AU+SA:wght@100..400&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap');

/*General*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    font-family: "Titillium Web", sans-serif;
}

/*Header*/
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
header{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100vw;
    height: 7vh;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    padding: 0 20px 0 20px;
    background-color: white;
}
.logo{
    font-family: "Playwrite AU SA", cursive;
    font-optical-sizing: auto;
    font-weight: 1000;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 30px;
}
.logo div:first-child{
    color: #f1222a;
}
.logo div:last-child{
    color: #267309;
}
.nav{

    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 20px;
}
.nav a {
    padding: 10px 20px;
    text-decoration: none;
    color: rgb(63, 63, 63);
    height: 100%;
    display: flex;
    align-items: center;
    
}
.nav a:hover{
    transition: 0.5s ease-in-out;
    color: white;
    background-color: #00c16a;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
.subContainer{
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    overflow: hidden;

    
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/

.subContainer.one{
    display: flex;
    align-items: center;
    background-image: url("../pics/mango-smoothies.jpg");
}

.presentation{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: 10%;
    flex-direction: column;
}
.slogan{
    font-size: 70px;
    color: white;
    line-height: 1.364;

}
.welcomeText{
    color: white;
    font-size: 25px;
    line-height: 1.364;
}

.shopButton {
  background-color: initial;
  background-image: linear-gradient(-180deg, #00D775, #00BD68);
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 2px 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  height: fit-content;
  line-height: 44px;
  outline: 0;
  overflow: hidden;
  padding: 20px;
  pointer-events: auto;
  position: relative;
  text-align: center;
  touch-action: manipulation;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: top;
  white-space: nowrap;
  width: fit-content;
  z-index: 9;
  border: 0;
  margin: 30px 0 30px 0;
  font-size: 30px;
}

.shopButton:hover {
  background: #00bd68;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
.subContainer.two{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    background-color: #f4f4f4; 
}
.spec {
    margin: 30px 10px;
}
.section.two img {
    height: 500px;
    width: auto;
}

.spectitle{
    color: black;
    font-weight: bolder;
    font-size: 30px;
}
.specdescription{
    color: grey;
    font-size: 20px;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
.subContainer.three{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #ffffff;
    height: fit-content;
}

.subContainer h1{
    font-size: 70px;
    color: black;
}
.smoothieContainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 45px 30px;
    align-items: center;
    justify-content: space-evenly;
    max-height: 100vh;
    padding: 70px 0;
    overflow: auto;
    width: fit-content;
}
.jus{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.drinkscontainer{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-gap: 15px 30px;
    align-items: center;
    justify-content: space-evenly;
    max-height: 100vh;
    padding: 70px 0;
    overflow: hidden;
    width: fit-content;
}
.image{
    height: 340px;
    width: 260px;
    border-radius: 15px;
    padding: 20px 20px 40px 20px ;
}
.drinkscontainer img{
    height: 100%;
    width: 100%;
    border-radius: 15px;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
.subContainer.four{
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    
}


.testimonialtext{
    width: 50%;
    font-size: xx-large;
    text-align: center;
    margin: 100px 0;
}
.witness{
    display: flex;
    flex-direction: row;
    
}

.guy{
    height: 152px;
    width: 152px;
    border-radius: 50%;
    margin: 40px;

}
.guy.active{
    border: #34a853 solid 5px;
    padding: 2px;
    
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
footer{
    color: #ffffff;
    background-color: #3a3d3f;
    height: 50vh;
    display: flex;
    flex-direction: column;
}
.footernavs{
    height: 85%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.footernav{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 25%;
    height: 70%;
    margin: 10px;
}
.footernav a {
    text-decoration: none;
    color: white;
    font-size: 25px ;
    padding: 5px;
}
.footernav a:hover{
    color: rgb(118, 255, 64);
}
.footernav.address img{
    height: 30px;
}
.footernavtitle{
    height: 30%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 30px;
    padding: 0 20px;
}
.footernavbody{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    height: 70%;
    width: 100%;
    padding: 0 20px;
} 
.footernavbody div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0;
}
.footernavbody div a{
    margin: 0 10px;
}

.footernav.social .footernavbody {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    width: fit-content;
    height: fit-content;
}

.footernav.social img {
    margin: 10px;
    height: 40px;
}
.copyright{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    color: gray;
}
@media (pointer: coarse) and (orientation: portrait) and (max-width: 700px){

    body{
        overflow-x: hidden;
        width: 100vw;
    }
    header{
        justify-content: center;
    }
    .logo{
        font-size: 20px;
    }
    .subContainer{
        overflow: hidden;
    }
    .subContainer.one{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .presentation{
       width: fit-content;
       height: fit-content;
       margin: 0;
    }
    .slogan{
        font-size: 35px;
        font-weight: 1200;
    }
    .welcomeText{
        font-size: 15px;
    }
    .shopButton{
        font-size: 20px;
        padding: 10px;
        text-decoration: none;
    }
    .subContainer.two{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-color: #f4f4f4; 
    }
    .subContainer.two hr{
        display: none;
    }
    .section{
        width: 100%;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .section.two{
        display: none;
    }
    .spec{
        margin:  10px 0;
        padding: 0;
        width: 70%;
        height:70%;
    }
    .spectitle{
        font-size: 25px;
    }
    .specdescription{
        font-size: 18px;
    }
    .subContainer.three{
        height: fit-content;
    }
    .subContainer.three h1{
        font-size: 30px;
        color: black;
    }
    .drinkscontainer{
        display: grid;
        grid-template-columns: repeat(2, 1fr); 
        grid-gap: 20px 40px;
        padding: 0;
        margin: 0;
        overflow: hidden;
        width: fit-content;
        height: fit-content;
    }
    .image{
        height: 180px;
        width: 130px;
        border-radius: 15px;
        padding: 0;
        margin: 0;
        background-image: url("../pics/glass-blueberry-smoothie.jpg");
        background-size: cover;
        background-repeat: no-repeat;
    }
    .image:nth-child(8){
        display: none;
    }
    .image:nth-child(7){
        display: none;
    }
    .subContainer.four h1{
        font-size: 40px;
        margin: 50px 0 0 0 ;
    }
    .witness{
        width: 100VW;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
    }
    .testimonialtext{
        font-size: 25px;
    }
    .guy{
        width: 80px;
        height: 80px;
        padding: 10px;
        margin: 0;
    }
    footer{
        font-size: 5px;
    }
    .footernavs{
        font-size: 5px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
    }
    .footernav{
        font-size: 5px;
        display: flex;
        flex-direction: column;
        width: 100vw;
        height: 33%;
    }
    .footernavtitle{
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .footernavbody{
        display: flex;
        flex-direction: column;
    }
    .footernav.social .footernavbody {
        display: flex;
        flex-direction: row;
        
        justify-content: center;
        width: 100vw;
        height: 33%;
    }
    .footernavbody a{
        font-size: 15px;
        margin: 0 5px;
    }
    .footernavbody a img {
        height: 20px;
        width: 20px;
    }
    
    .copyright{
        font-size: 15px;
    }
}